In [4]:
%reload_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd

pd.options.display.max_columns, pd.options.display.max_rows = 500, 200
pd.options.display.float_format = '{:.1f}'.format
import warnings

warnings.filterwarnings('ignore')
import joblib

from euro_soccer.preprocessing import DataPreprocessor
from euro_soccer.glicko_soccer import GlickoSoccer

In [5]:
matches = pd.read_csv('matches.csv')
matches.head()

,date,home_team,away_team,home_score,away_score,notes,country,league,season,tournament_type
0,03.08.2019,Влазния,Бесалиджа Лежа,3,1,NaN,Albania,Суперлига - Борьба за выживание - плей-офф,2019-2020,first
1,29.07.2019,Бесалиджа Лежа,Поградец,3,2,NaN,Albania,Суперлига - Борьба за выживание - плей-офф,2019-2020,first
2,30.05.2021,Кастриоти,Томори Берат,2,1,NaN,Albania,Суперлига - Борьба за выживание - плей-офф,2020-2021,first
3,26.05.2021,Буррели,Томори Берат,1,2,NaN,Albania,Суперлига - Борьба за выживание - плей-офф,2020-2021,first
4,23.05.2022,Кораби Пешкопи,Аполония Фиери,3,2,NaN,Albania,Суперлига - Борьба за выживание - плей-офф,2021-2022,first

In [ ]:
matches = pd.read_csv('matches.csv')
matches = DataPreprocessor(is_actual_draw_predictions=False).preprocessing(matches)
matches.tail(5)

In [3]:
matches.shape

(122271, 12)

In [21]:
count_matches, count_seasons, count_tournaments, teams_countries, uefa_teams_without_national = DataPreprocessor().test_data(matches)

In [22]:
count_matches

Empty DataFrame
Columns: [country, tournament_type, season, number_matches]
Index: []

In [23]:
count_seasons

                     country  tournament_type  number_seasons
60  Europa Conference League                3               1
61  Europa Conference League                4               1

In [24]:
count_tournaments

Empty DataFrame
Columns: [country, number_tournaments, tournament_type]
Index: []

In [25]:
teams_countries

Empty DataFrame
Columns: [home_team, teams_countries]
Index: []

In [26]:
uefa_teams_without_national

[]

In [11]:
matches.loc[matches['tournament_type'] == "cups", 'country'].value_counts()

Europa League               2042
Belgium                     1549
Slovakia                    1107
Champions League            1040
France                       950
Turkey                       848
Portugal                     824
Hungary                      708
Czech Republic               667
Spain                        604
Sweden                       593
Norway                       572
Denmark                      519
Romania                      516
Netherlands                  494
Greece                       471
England                      463
Wales                        460
Scotland                     458
Estonia                      449
Northern Ireland             444
Europa Conference League     422
Iceland                      370
Italy                        361
Poland                       342
Austria                      315
Germany                      314
Finland                      305
Switzerland                  288
Albania                      282
Luxembourg                   275
Malta                        273
Belarus                      267
Ukraine                      259
Israel                       252
Croatia                      234
Moldova                      212
Latvia                       202
Bulgaria                     194
North Macedonia              180
Bosnia And Herzegovina       173
Ireland                      169
Cyprus                       169
Serbia                       158
Georgia                      151
San Marino                   149
Montenegro                   145
Lithuania                    142
Slovenia                     135
Kazakhstan                   128
Azerbaijan                    85
Faroe Islands                 83
Kosovo                        81
Armenia                       78
Gibraltar                     65
Andorra                       56
Name: country, dtype: int64

In [38]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116731 entries, 0 to 130989
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             116731 non-null  int64
 1   date              116731 non-null  datetime64[ns]
 2   home_team         116731 non-null  object
 3   away_team         116731 non-null  object
 4   country           116731 non-null  object
 5   tournament        116731 non-null  object
 6   season            116731 non-null  int64
 7   tournament_type   116731 non-null  int64
 8   outcome           116731 non-null  object
 9   is_pandemic       116731 non-null  int64
 10  draw_probability  116731 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 10.7+ MB

In [39]:
# matches['draw_probability'].mean()

In [23]:
# # matches.loc[(matches['home_team'].str.contains('B')) & (matches['away_team'].str.contains('AS Roma'))]

In [24]:
# matches.info()

In [25]:
# matches['season'].value_counts()

In [26]:
# matches.loc[matches['tournament'].str.contains('Con')]

# Fit Params

In [ ]:
glicko = GlickoSoccer()  # 42049.32433702407
league_params = glicko.fit_params(matches, 20, is_params_initialization=False)

Current Loss: 42044.85784972906
Slovenia. First 1473
Armenia. First 1554
Hungary. First 1649
Bulgaria. First 1439
Portugal. First 1829
Croatia. Second 1324
Spain. Second 1775
Moldova. First 1285
Cyprus. First 1619
Russia. First 1649
Croatia. First 1664
England. First 2014
Ukraine. Second 1399
Northern Ireland. Second 1067
North Macedonia. Second 1028
Sweden. Second 1528
Israel. First 1572
Northern Ireland. First 1377
Scotland. Second 1370
Switzerland. Second 1667
Georgia. First 1357
Portugal. Second 1665
Albania. First 1293
Armenia. Second 1253
Scotland. First 1653
Israel. Second 1425
Belarus. Second 1093
Serbia. First 1433
Austria. Second 1627
Greece. Second 1550
Serbia. Second 1247
Germany. First 1982
Georgia. Second 1432
Bosnia And Herzegovina. Second 1294
Bulgaria. Second 1272
Latvia. First 1437
Netherlands. First 1762
Kazakhstan. First 1432
Albania. Second 1257
Montenegro. First 1337
North Macedonia. First 1282
Belarus. First 1347
Lithuania. Second 1157
Ukraine. First 1597
Belgium. Second 1617
Lithuania. First 1402
Bosnia And Herzegovina. First 1495
Finland. Second 1272
Hungary. Second 1317
Wales. First 1247
England. Second 1707
San Marino. First 1183
Gibraltar. First 1183
France. First 1832

{'init_mu': 1645,
 'init_rd': 150,
 'update_rd': 30,
 'lift_update_mu': 70,
 'home_advantage': 30,
 'pandemic_home_advantage': 24,
 'new_team_update_mu': 0}

# Ratings

In [29]:
glicko = GlickoSoccer()
league_params = joblib.load('data/league_params.pkl')
ratings = glicko.rate_teams(matches, league_params)
ratings = glicko.ratings_to_df(ratings, matches)
leagues_ratings = glicko.league_ratings(ratings, number_top_teams=10)
leagues_ratings

     #                          league  rating
0    1                  England. First  2182.6
1    2                    Spain. First  2125.8
2    3                  Germany. First  2111.3
3    4                    Italy. First  2098.4
4    5                   France. First  2035.6
5    6                 Portugal. First  1985.5
6    7              Netherlands. First  1936.3
7    8                  Belgium. First  1895.2
8    9                   Spain. Second  1881.4
9   10                 Germany. Second  1864.6
10  11                  Austria. First  1861.5
11  12              Switzerland. First  1845.2
12  13                   Russia. First  1827.7
13  14                   Turkey. First  1822.8
14  15                   Norway. First  1810.6
15  16                   Poland. First  1807.5
16  17                 England. Second  1796.4
17  18                  Denmark. First  1794.3
18  19                   Sweden. First  1782.7
19  20                 Scotland. First  1778.8
20  21                   Cyprus. First  1771.3
21  22           Czech Republic. First  1766.0
22  23                  Ukraine. First  1765.0
23  24                   Greece. First  1755.3
24  25                  Croatia. First  1739.3
25  26                Portugal. Second  1737.1
26  27                   Italy. Second  1736.8
27  28                  France. Second  1728.6
28  29                   Israel. First  1728.6
29  30                  Hungary. First  1696.7
30  31                  Romania. First  1694.1
31  32             Switzerland. Second  1666.6
32  33                   Serbia. First  1655.8
33  34                 Austria. Second  1634.0
34  35                  Russia. Second  1630.5
35  36                 Bulgaria. First  1623.8
36  37                 Slovenia. First  1616.6
37  38   Bosnia And Herzegovina. First  1610.5
38  39                  Turkey. Second  1605.5
39  40                  Poland. Second  1580.0
40  41               Azerbaijan. First  1574.2
41  42                 Slovakia. First  1571.9
42  43                  Sweden. Second  1569.7
43  44                  Georgia. First  1563.1
44  45                  Finland. First  1561.1
45  46                  Greece. Second  1560.1
46  47                  Norway. Second  1559.2
47  48             Netherlands. Second  1549.6
48  49                  Iceland. First  1546.6
49  50                  Armenia. First  1544.7
50  51                 Romania. Second  1537.9
51  52               Kazakhstan. First  1537.7
52  53                  Ireland. First  1531.3
53  54                 Denmark. Second  1527.6
54  55                 Belgium. Second  1522.9
55  56                  Albania. First  1517.0
56  57                  Belarus. First  1515.9
57  58         Northern Ireland. First  1512.8
58  59               Luxembourg. First  1486.3
59  60                    Malta. First  1484.9
60  61                  Israel. Second  1477.7
61  62                Scotland. Second  1473.8
62  63                 Ukraine. Second  1462.2
63  64                   Kosovo. First  1460.7
64  65                  Estonia. First  1452.9
65  66               Montenegro. First  1451.6
66  67                   Latvia. First  1443.7
67  68                 Hungary. Second  1439.1
68  69                Lithuania. First  1435.8
69  70                  Moldova. First  1431.4
70  71          North Macedonia. First  1421.7
71  72                Slovenia. Second  1409.2
72  73                  Cyprus. Second  1393.2
73  74                 Croatia. Second  1392.0
74  75          Czech Republic. Second  1380.6
75  76            Faroe Islands. First  1370.3
76  77  Bosnia And Herzegovina. Second  1355.6
77  78                    Wales. First  1347.7
78  79                  Serbia. Second  1343.2
79  80                  Andorra. First  1341.1
80  81              Kazakhstan. Second  1322.3
81  82                 Georgia. Second  1306.2
82  83                Bulgaria. Second  1301.4
83  84                Slovakia. Second  1299.8
84  85                 Albania. Second  1283.6
85  86               San Marino. First  1276.8
86  87                 Iceland. Second  1268.5
87  88                   Malta. Second  1246.0
88  89                Gibraltar. First  1245.2
89  90                 Ireland. Second  1241.8
90  91                 Armenia. Second  1222.4
91  92                 Finland. Second  1213.7
92  93               Lithuania. Second  1121.1
93  94                 Belarus. Second  1114.7
94  95         North Macedonia. Second  1089.5
95  96                 Estonia. Second  1086.6
96  97                  Latvia. Second  1066.4
97  98        Northern Ireland. Second  1044.7

In [32]:
pd.concat([leagues_ratings[0:25].reset_index(drop=True),
           leagues_ratings[25:50].reset_index(drop=True)], axis=1)

,#,league,rating,#,league,rating
0,1,England. First,2182.6,26,Portugal. Second,1737.1
1,2,Spain. First,2125.8,27,Italy. Second,1736.8
2,3,Germany. First,2111.3,28,France. Second,1728.6
3,4,Italy. First,2098.4,29,Israel. First,1728.6
4,5,France. First,2035.6,30,Hungary. First,1696.7
5,6,Portugal. First,1985.5,31,Romania. First,1694.1
6,7,Netherlands. First,1936.3,32,Switzerland. Second,1666.6
7,8,Belgium. First,1895.2,33,Serbia. First,1655.8
8,9,Spain. Second,1881.4,34,Austria. Second,1634.0
9,10,Germany. Second,1864.6,35,Russia. Second,1630.5
10,11,Austria. First,1861.5,36,Bulgaria. First,1623.8
11,12,Switzerland. First,1845.2,37,Slovenia. First,1616.6
12,13,Russia. First,1827.7,38,Bosnia And Herzegovina. First,1610.5
13,14,Turkey. First,1822.8,39,Turkey. Second,1605.5
14,15,Norway. First,1810.6,40,Poland. Second,1580.0
15,16,Poland. First,1807.5,41,Azerbaijan. First,1574.2
16,17,England. Second,1796.4,42,Slovakia. First,1571.9
17,18,Denmark. First,1794.3,43,Sweden. Second,1569.7
18,19,Sweden. First,1782.7,44,Georgia. First,1563.1
19,20,Scotland. First,1778.8,45,Finland. First,1561.1
20,21,Cyprus. First,1771.3,46,Greece. Second,1560.1
21,22,Czech Republic. First,1766.0,47,Norway. Second,1559.2
22,23,Ukraine. First,1765.0,48,Netherlands. Second,1549.6
23,24,Greece. First,1755.3,49,Iceland. First,1546.6
24,25,Croatia. First,1739.3,50,Armenia. First,1544.7

In [31]:
pd.concat([leagues_ratings[50:74].reset_index(drop=True),
           leagues_ratings[74:].reset_index(drop=True)], axis=1)

,#,league,rating,#,league,rating
0,51,Romania. Second,1537.9,75,Czech Republic. Second,1380.6
1,52,Kazakhstan. First,1537.7,76,Faroe Islands. First,1370.3
2,53,Ireland. First,1531.3,77,Bosnia And Herzegovina. Second,1355.6
3,54,Denmark. Second,1527.6,78,Wales. First,1347.7
4,55,Belgium. Second,1522.9,79,Serbia. Second,1343.2
5,56,Albania. First,1517.0,80,Andorra. First,1341.1
6,57,Belarus. First,1515.9,81,Kazakhstan. Second,1322.3
7,58,Northern Ireland. First,1512.8,82,Georgia. Second,1306.2
8,59,Luxembourg. First,1486.3,83,Bulgaria. Second,1301.4
9,60,Malta. First,1484.9,84,Slovakia. Second,1299.8
10,61,Israel. Second,1477.7,85,Albania. Second,1283.6
11,62,Scotland. Second,1473.8,86,San Marino. First,1276.8
12,63,Ukraine. Second,1462.2,87,Iceland. Second,1268.5
13,64,Kosovo. First,1460.7,88,Malta. Second,1246.0
14,65,Estonia. First,1452.9,89,Gibraltar. First,1245.2
15,66,Montenegro. First,1451.6,90,Ireland. Second,1241.8
16,67,Latvia. First,1443.7,91,Armenia. Second,1222.4
17,68,Hungary. Second,1439.1,92,Finland. Second,1213.7
18,69,Lithuania. First,1435.8,93,Lithuania. Second,1121.1
19,70,Moldova. First,1431.4,94,Belarus. Second,1114.7
20,71,North Macedonia. First,1421.7,95,North Macedonia. Second,1089.5
21,72,Slovenia. Second,1409.2,96,Estonia. Second,1086.6
22,73,Cyprus. Second,1393.2,97,Latvia. Second,1066.4
23,74,Croatia. Second,1392.0,98,Northern Ireland. Second,1044.7

In [9]:
leagues_ratings.to_csv('20.csv', index=False)

In [6]:
ratings.head(50)

     #               team  rating              league
0    1          Ливерпуль  2226.6      England. First
1    2     Манчестер Сити  2209.9      England. First
2    3              Порту  2143.5     Portugal. First
3    4        Реал Мадрид  2141.1        Spain. First
4    5            Бавария  2127.8      Germany. First
5    6              Интер  2124.4        Italy. First
6    7               Аякс  2106.9  Netherlands. First
7    8              Челси  2102.0      England. First
8    9              Милан  2070.3        Italy. First
9   10           Спортинг  2063.9     Portugal. First
10  11                ПСЖ  2052.5       France. First
11  12            Бенфика  2040.9     Portugal. First
12  13      Црвена Звезда  2039.4       Serbia. First
13  14            Ювентус  2038.7        Italy. First
14  15           Атлетико  2030.7        Spain. First
15  16          Барселона  2028.5        Spain. First
16  17            Арсенал  2022.2      England. First
17  18          Тоттенхэм  2011.9      England. First
18  19                ПСВ  2010.1  Netherlands. First
19  20             Наполи  2008.7        Italy. First
20  21            Севилья  2006.7        Spain. First
21  22          Зальцбург  1993.5      Austria. First
22  23         РБ Лейпциг  1992.6      Germany. First
23  24         Боруссия Д  1988.0      Germany. First
24  25  Манчестер Юнайтед  1987.3      England. First
25  26               Рома  1973.3        Italy. First
26  27              Бетис  1970.7        Spain. First
27  28         Вильярреал  1968.6        Spain. First
28  29      Динамо Загреб  1956.7      Croatia. First
29  30              Байер  1956.5      Germany. First
30  31           Аталанта  1954.5        Italy. First
31  32           Вест Хэм  1953.9      England. First
32  33          Фейеноорд  1953.6  Netherlands. First
33  34          Рейнджерс  1952.1     Scotland. First
34  35              Брага  1949.5     Portugal. First
35  36      Реал Сосьедад  1947.0        Spain. First
36  37           Партизан  1944.8       Serbia. First
37  38              Лацио  1943.7        Italy. First
38  39             Лестер  1941.3      England. First
39  40             Монако  1938.3       France. First
40  41               Лион  1934.1       France. First
41  42             Селтик  1930.8     Scotland. First
42  43         Айнтрахт Ф  1930.4      Germany. First
43  44            Марсель  1927.9       France. First
44  45              Флора  1920.8      Estonia. First
45  46            Атлетик  1913.8        Spain. First
46  47           Фрайбург  1912.4      Germany. First
47  48            Брайтон  1911.2      England. First
48  49      Шахтер Донецк  1910.0      Ukraine. First
49  50         Копенгаген  1906.4      Denmark. First

# Skellam

In [9]:
# from euro_soccer.draw_model import DrawLightGBM

DrawLightGBM().cross_val_score()

OSError: dlopen(/Users/andreyshelopugin/opt/anaconda3/lib/python3.8/site-packages/lightgbm/lib_lightgbm.so, 6): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib
  Referenced from: /Users/andreyshelopugin/opt/anaconda3/lib/python3.8/site-packages/lightgbm/lib_lightgbm.so
  Reason: image not found

In [5]:
# import joblib
train = joblib.load('data/train.pkl')
train.head()

,team,score,index,is_home,avg_scoring_10,avg_scoring_20,is_pandemic,mean_score_10,median_score_10,mean_score_20,mean_score_10_against,median_score_10_against,mean_score_20_against
129670,Den Bosch,2,69077,0,2.500000,2.5,1,1.800000,1.5,1.5,1.700000,1.0,2.0
4917,Dubnica,5,67608,1,1.444444,NaN,0,0.777778,1.0,1.0,3.222222,3.0,3.0
17732,Rapid Vienna,2,27656,1,2.400000,2.4,0,1.100000,0.5,1.0,0.600000,0.0,1.0
132205,Chambly,2,51277,0,1.200000,1.2,1,1.100000,0.5,1.0,0.800000,0.5,1.0
115031,Tobol,0,10064,0,1.300000,1.3,0,1.200000,1.0,1.0,0.300000,0.0,0.0

In [6]:
# train.loc[train['team'] == 'Manchester City']

,team,score,index,is_home,avg_scoring_10,avg_scoring_20,is_pandemic,mean_score_10,median_score_10,mean_score_20,mean_score_10_against,median_score_10_against,mean_score_20_against
99593,Manchester City,2,8107,0,2.8,2.8,0,1.700000,1.5,2.0,1.000000,1.0,0.5
97208,Manchester City,1,75728,0,2.7,2.7,0,1.900000,2.0,2.0,1.300000,1.5,1.0
101412,Manchester City,3,8079,0,2.6,2.6,0,1.700000,1.5,2.0,0.800000,0.5,0.5
22198,Manchester City,1,8075,1,1.5,1.5,0,3.300000,3.0,3.0,0.900000,0.5,1.0
112351,Manchester City,3,89736,0,1.7,1.7,0,2.500000,2.5,2.0,0.700000,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139024,Manchester City,4,82632,0,1.4,1.4,1,1.100000,1.0,1.0,0.400000,0.0,0.5
51661,Manchester City,2,82643,1,3.1,3.1,1,2.900000,2.5,2.0,0.600000,0.0,1.0
89840,Manchester City,3,80587,0,2.6,2.6,0,1.666667,1.0,1.0,1.777778,1.0,2.0
16367,Manchester City,3,8163,1,2.2,2.2,0,3.200000,3.0,3.0,0.900000,1.0,1.0
59587,Manchester City,2,11435,1,1.1,1.1,1,2.300000,2.0,2.0,0.900000,0.5,0.0

In [7]:
# train['avg_scoring_10'].mean()

1.364716147298895