In [1]:
%reload_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
pd.options.display.max_columns, pd.options.display.max_rows = 500, 200
pd.options.display.float_format = '{:.1f}'.format
import warnings
warnings.filterwarnings('ignore')
import joblib

from euro_soccer.preprocessing import DataPreprocessor
from euro_soccer.glicko_soccer import GlickoSoccer

In [2]:
matches = pd.read_csv('matches.csv')
matches = DataPreprocessor(is_actual_draw_predictions=True).preprocessing(matches)
matches.tail(1)

[LightGBM] [Warning] bagging_freq is set=2, subsample_freq=0 will be ignored. Current value: bagging_freq=2
[LightGBM] [Warning] feature_fraction is set=0.5, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.5
[LightGBM] [Warning] bagging_fraction is set=0.7, subsample=1.0 will be ignored. Current value: bagging_fraction=0.7
[LightGBM] [Warning] lambda_l2 is set=5.648, reg_lambda=0.0 will be ignored. Current value: lambda_l2=5.648
[LightGBM] [Warning] min_data_in_leaf is set=20, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=20
[LightGBM] [Warning] lambda_l1 is set=0.0, reg_alpha=0.0 will be ignored. Current value: lambda_l1=0.0

,index,date,home_team,away_team,country,tournament,season,tournament_type,outcome,is_pandemic,draw_probability
130651,309702,2022-12-31,H. Raanana,Ramat Hasharon,Israel,Israel. Leumit League,2021,2,H,0,0.3

In [12]:
count_matches, count_seasons, count_tournaments = DataPreprocessor().test_data(matches)

In [13]:
count_matches

Empty DataFrame
Columns: [country, tournament_type, season, number_matches]
Index: []

In [14]:
count_seasons

                     country  tournament_type  number_seasons
59  Europa Conference League                3               1
60  Europa Conference League                4               1

In [15]:
count_tournaments

Empty DataFrame
Columns: [country, number_tournaments, tournament_type]
Index: []

In [16]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115670 entries, 0 to 130651
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             115670 non-null  int64
 1   date              115670 non-null  datetime64[ns]
 2   home_team         115670 non-null  object
 3   away_team         115670 non-null  object
 4   country           115670 non-null  object
 5   tournament        115670 non-null  object
 6   season            115670 non-null  int64
 7   tournament_type   115670 non-null  int64
 8   outcome           115670 non-null  object
 9   is_pandemic       115670 non-null  int64
 10  draw_probability  115670 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 10.6+ MB

In [22]:
# matches['draw_probability'].mean()

In [23]:
# # matches.loc[(matches['home_team'].str.contains('B')) & (matches['away_team'].str.contains('AS Roma'))]

In [24]:
# matches.info()

In [25]:
# matches['season'].value_counts()

In [26]:
# matches.loc[matches['tournament'].str.contains('Con')]

In [27]:
# matches.loc[matches['country'].str.contains('Uz')]

# Fit Params

In [ ]:
glicko = GlickoSoccer() # 38773 38756
league_params = glicko.fit_params(matches, 100, is_params_initialization=False)

Current Loss: 27552.243972951943
############################################################################

Best Draw Parameter: -0.5537

############################################################################

Best Volatility Parameter: 0.10400000000000001

# Ratings

In [24]:
glicko = GlickoSoccer()
league_params = joblib.load('data/league_params.pkl')
# league_params = glicko._league_params_initialization(matches)
ratings = glicko.rate_teams(matches, league_params)
ratings = glicko.ratings_to_df(ratings, matches)
leagues_ratings = glicko.league_ratings(ratings, number_top_teams=5)
# first_leagues = set(matches.loc[matches['tournament_type'] == 1, 'tournament'])
# leagues_ratings = leagues_ratings.loc[leagues_ratings['league'].isin(first_leagues)]
leagues_ratings

     #                                             league  rating
0    1                            England. Premier League  2093.0
1    2                                     Italy. Serie A  2021.2
2    3                                      Spain. LaLiga  2021.1
3    4                            Portugal. Primeira Liga  1984.5
4    5                                Germany. Bundesliga  1981.8
5    6                                    France. Ligue 1  1958.9
6    7                            Netherlands. Eredivisie  1948.3
7    8                      Faroe Islands. Premier League  1812.7
8    9                              Scotland. Premiership  1808.5
9   10                        Belgium. Jupiler Pro League  1804.3
10  11                            Czech Republic. 1. Liga  1801.6
11  12                             Cyprus. First Division  1797.8
12  13                                 Serbia. Super Liga  1792.1
13  14                                Norway. Eliteserien  1786.1
14  15                                Austria. Bundesliga  1783.9
15  16                          Switzerland. Super League  1782.9
16  17                             Belarus. Vysshaya Liga  1782.6
17  18                                    Croatia. 1. HNL  1775.2
18  19                            Ukraine. Premier League  1774.9
19  20                               Greece. Super League  1769.9
20  21                                Sweden. Allsvenskan  1767.2
21  22                                 Denmark. Superliga  1762.5
22  23                                Israel. Ligat ha'Al  1757.9
23  24                      Luxembourg. National Division  1757.3
24  25                           Latvia. Optibet Virsliga  1755.1
25  26                                     Spain. LaLiga2  1753.1
26  27                         Moldova. Divizia Nationala  1752.2
27  28             Bosnia And Herzegovina. Premier League  1746.6
28  29                                  Kosovo. Superliga  1744.5
29  30                               Bulgaria. Parva liga  1743.9
30  31                             Finland. Veikkausliiga  1737.6
31  32                          Ireland. Premier Division  1736.8
32  33                                Iceland. Pepsideild  1734.7
33  34                              Estonia. Meistriliiga  1730.6
34  35                         Gibraltar. National League  1730.3
35  36                                  Lithuania. A Lyga  1726.8
36  37                                  Turkey. Super Lig  1726.4
37  38                  Georgia. Crystalbet Erovnuli Liga  1721.6
38  39                             Slovakia. Fortuna liga  1718.8
39  40                             Russia. Premier League  1718.3
40  41                            North Macedonia. 1. MFL  1715.2
41  42                              England. Championship  1710.9
42  43                             Germany. 2. Bundesliga  1709.5
43  44                         Kazakhstan. Premier League  1702.6
44  45                                Poland. Ekstraklasa  1700.4
45  46                   Montenegro. Prva Crnogorska Liga  1697.7
46  47                             Hungary. OTP Bank Liga  1696.4
47  48                                    France. Ligue 2  1695.5
48  49                                Slovenia. Prva liga  1694.8
49  50                                     Italy. Serie B  1684.7
50  51                 Northern Ireland. NIFL Premiership  1680.5
51  52                          Portugal. Liga Portugal 2  1677.0
52  53                         Azerbaijan. Premier League  1666.6
53  54  Armenia. VBET Premier League - Championship Group  1665.6
54  55                                    Romania. Liga 1  1653.3
55  56                              Malta. Premier League  1640.1
56  57                           Andorra. Primera Divisió  1639.0
57  58                        Netherlands. Eerste Divisie  1622.2
58  59                                 Albania. Superliga  1588.6
59  60                               Wales. Cymru Premier  1585.0
60  61                            North Macedonia. 2. MFL  1564.4
61  62                                     Turkey. 1. Lig  1547.5
62  63                      Switzerland. Challenge League  1544.6
63  64                 San Marino. Campionato Sammarinese  1544.4
64  65                                 Cyprus. Division 2  1538.4
65  66                           Iceland. Inkasso-deildin  1537.8
66  67                             Greece. Super League 2  1534.8
67  68                                  Slovakia. 2. liga  1532.2
68  69                             Belgium. 1B Pro League  1514.9
69  70                                   Slovenia. 2. SNL  1505.7
70  71                       Hungary. Merkantil Bank Liga  1502.9
71  72                                        Russia. FNL  1498.8
72  73                               Bulgaria. Vtora liga  1497.8
73  74                                  Serbia. Prva Liga  1496.4
74  75                              Denmark. 1st Division  1495.4
75  76                             Scotland. Championship  1493.5
76  77                                 Poland. Division 1  1489.0
77  78                                Norway. OBOS-ligaen  1487.9
78  79                               Ukraine. Persha Liga  1485.2
79  80                              Israel. Leumit League  1484.8
80  81                                    Romania. Liga 2  1482.8
81  82           Bosnia And Herzegovina. Prva Liga - FBiH  1466.1
82  83                                Ireland. Division 1  1459.6
83  84                                 Sweden. Superettan  1454.2
84  85                Georgia. Crystalbet Erovnuli Liga 2  1451.6
85  86                         Czech Republic. Division 2  1448.7
86  87                                   Finland. Ykkonen  1446.5
87  88                                   Austria. 2. Liga  1438.3
88  89                                  Lithuania. I Lyga  1422.7
89  90                                    Croatia. 2. HNL  1421.6
90  91                                  Estonia. Esiliiga  1412.4
91  92                         Kazakhstan. First Division  1405.4
92  93                             Belarus. Pershaya Liga  1404.1
93  94                            Malta. Challenge League  1396.3
94  95                            Albania. First Division  1378.1
95  96                                    Latvia. 1. Liga  1332.1
96  97                Northern Ireland. NIFL Championship  1212.3

In [8]:
ratings.head(50)

     #                team  rating                         league
0    1           Liverpool  2126.8        England. Premier League
1    2       Bayern Munich  2100.9            Germany. Bundesliga
2    3     Manchester City  2099.0        England. Premier League
3    4            FC Porto  2069.3        Portugal. Primeira Liga
4    5         Real Madrid  2064.1                  Spain. LaLiga
5    6                Ajax  2038.0        Netherlands. Eredivisie
6    7               Inter  2024.6                 Italy. Serie A
7    8             Chelsea  2008.4        England. Premier League
8    9            Sporting  2008.0        Portugal. Primeira Liga
9   10       Crvena zvezda  2007.7             Serbia. Super Liga
10  11            Paris SG  1994.3                France. Ligue 1
11  12             Rangers  1993.1          Scotland. Premiership
12  13            AC Milan  1981.6                 Italy. Serie A
13  14            Juventus  1978.2                 Italy. Serie A
14  15                 PSV  1976.0        Netherlands. Eredivisie
15  16    Benfica Portugal  1971.1        Portugal. Primeira Liga
16  17    Sheriff Tiraspol  1965.1     Moldova. Divizia Nationala
17  18         Atl. Madrid  1947.4                  Spain. LaLiga
18  19           Barcelona  1945.6                  Spain. LaLiga
19  20            Klaksvik  1944.8  Faroe Islands. Premier League
20  21      Manchester Utd  1940.8        England. Premier League
21  22             Sevilla  1937.8                  Spain. LaLiga
22  23         HB Torshavn  1934.1  Faroe Islands. Premier League
23  24           Tottenham  1933.5        England. Premier League
24  25            Partizan  1932.5             Serbia. Super Liga
25  26             Arsenal  1930.5        England. Premier League
26  27            Atalanta  1922.2                 Italy. Serie A
27  28            Salzburg  1916.3            Austria. Bundesliga
28  29       Slavia Prague  1915.6        Czech Republic. 1. Liga
29  30    Shakhtar Donetsk  1913.1        Ukraine. Premier League
30  31              Celtic  1911.6          Scotland. Premiership
31  32           Europa FC  1909.3     Gibraltar. National League
32  33             AS Roma  1908.4                 Italy. Serie A
33  34                 RFS  1902.1       Latvia. Optibet Virsliga
34  35          Bodo/Glimt  1902.0            Norway. Eliteserien
35  36  Olympiacos Piraeus  1901.2           Greece. Super League
36  37              Napoli  1896.6                 Italy. Serie A
37  38               Lille  1896.5                France. Ligue 1
38  39           Feyenoord  1895.4        Netherlands. Eredivisie
39  40            Dortmund  1894.8            Germany. Bundesliga
40  41             Apollon  1892.5         Cyprus. First Division
41  42               Braga  1890.7        Portugal. Primeira Liga
42  43                BATE  1890.5         Belarus. Vysshaya Liga
43  44           D. Zagreb  1889.1                Croatia. 1. HNL
44  45          Villarreal  1884.8                  Spain. LaLiga
45  46          RB Leipzig  1883.9            Germany. Bundesliga
46  47    Bayer Leverkusen  1883.6            Germany. Bundesliga
47  48                Lyon  1883.3                France. Ligue 1
48  49               Flora  1883.3          Estonia. Meistriliiga
49  50            West Ham  1879.0        England. Premier League

# Skellam

In [9]:
# from euro_soccer.draw_model import DrawLightGBM

DrawLightGBM().cross_val_score()

OSError: dlopen(/Users/andreyshelopugin/opt/anaconda3/lib/python3.8/site-packages/lightgbm/lib_lightgbm.so, 6): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib
  Referenced from: /Users/andreyshelopugin/opt/anaconda3/lib/python3.8/site-packages/lightgbm/lib_lightgbm.so
  Reason: image not found

In [5]:
# import joblib
train = joblib.load('data/train.pkl')
train.head()

,team,score,index,is_home,avg_scoring_10,avg_scoring_20,is_pandemic,mean_score_10,median_score_10,mean_score_20,mean_score_10_against,median_score_10_against,mean_score_20_against
129670,Den Bosch,2,69077,0,2.500000,2.5,1,1.800000,1.5,1.5,1.700000,1.0,2.0
4917,Dubnica,5,67608,1,1.444444,NaN,0,0.777778,1.0,1.0,3.222222,3.0,3.0
17732,Rapid Vienna,2,27656,1,2.400000,2.4,0,1.100000,0.5,1.0,0.600000,0.0,1.0
132205,Chambly,2,51277,0,1.200000,1.2,1,1.100000,0.5,1.0,0.800000,0.5,1.0
115031,Tobol,0,10064,0,1.300000,1.3,0,1.200000,1.0,1.0,0.300000,0.0,0.0

In [6]:
# train.loc[train['team'] == 'Manchester City']

,team,score,index,is_home,avg_scoring_10,avg_scoring_20,is_pandemic,mean_score_10,median_score_10,mean_score_20,mean_score_10_against,median_score_10_against,mean_score_20_against
99593,Manchester City,2,8107,0,2.8,2.8,0,1.700000,1.5,2.0,1.000000,1.0,0.5
97208,Manchester City,1,75728,0,2.7,2.7,0,1.900000,2.0,2.0,1.300000,1.5,1.0
101412,Manchester City,3,8079,0,2.6,2.6,0,1.700000,1.5,2.0,0.800000,0.5,0.5
22198,Manchester City,1,8075,1,1.5,1.5,0,3.300000,3.0,3.0,0.900000,0.5,1.0
112351,Manchester City,3,89736,0,1.7,1.7,0,2.500000,2.5,2.0,0.700000,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139024,Manchester City,4,82632,0,1.4,1.4,1,1.100000,1.0,1.0,0.400000,0.0,0.5
51661,Manchester City,2,82643,1,3.1,3.1,1,2.900000,2.5,2.0,0.600000,0.0,1.0
89840,Manchester City,3,80587,0,2.6,2.6,0,1.666667,1.0,1.0,1.777778,1.0,2.0
16367,Manchester City,3,8163,1,2.2,2.2,0,3.200000,3.0,3.0,0.900000,1.0,1.0
59587,Manchester City,2,11435,1,1.1,1.1,1,2.300000,2.0,2.0,0.900000,0.5,0.0

In [7]:
# train['avg_scoring_10'].mean()

1.364716147298895