In [1]:
%reload_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
pd.options.display.max_columns, pd.options.display.max_rows = 500, 200
pd.options.display.float_format = '{:.1f}'.format
import warnings
warnings.filterwarnings('ignore')
import joblib

from euro_soccer.preprocessing import DataPreprocessor
from euro_soccer.glicko_soccer import GlickoSoccer

In [2]:
matches = pd.read_csv('matches.csv')
matches = DataPreprocessor().preprocessing(matches)
matches.tail(1)

,index,date,home_team,away_team,country,tournament,season,tournament_type,outcome,is_pandemic,draw_probability
130638,309703,2022-12-31,Hapoel Afula,H. Akko,Israel,Israel. Leumit League,2021,2,D,0,0.3

In [4]:
count_matches, count_seasons, count_tournaments = DataPreprocessor().test_data(matches)

In [8]:
# count_matches

In [9]:
# count_seasons

In [10]:
# count_tournaments

In [11]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 115657 entries, 0 to 130638
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             115657 non-null  int64
 1   date              115657 non-null  datetime64[ns]
 2   home_team         115657 non-null  object
 3   away_team         115657 non-null  object
 4   country           115657 non-null  object
 5   tournament        115657 non-null  object
 6   season            115657 non-null  int64
 7   tournament_type   115657 non-null  int64
 8   outcome           115657 non-null  object
 9   is_pandemic       115657 non-null  int64
 10  draw_probability  115657 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(5)
memory usage: 10.6+ MB

In [22]:
# matches['draw_probability'].mean()

In [23]:
# # matches.loc[(matches['home_team'].str.contains('B')) & (matches['away_team'].str.contains('AS Roma'))]

In [24]:
# matches.info()

In [25]:
# matches['season'].value_counts()

In [26]:
# matches.loc[matches['tournament'].str.contains('Con')]

In [27]:
# matches.loc[matches['country'].str.contains('Uz')]

# Fit Params

In [ ]:
glicko = GlickoSoccer()
league_params = glicko.fit_params(matches, 50, is_params_initialization=False)

Current Loss: 39105.23423495512
Wales. Cymru Premier Loss down by: 0.19
{'init_mu': 1310, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 20, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
England. Championship Loss down by: 0.29
{'init_mu': 1530, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': -20, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -102}
Israel. Leumit League Loss down by: 0.13
{'init_mu': 1390, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': -80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -22}
England. Premier League Loss down by: 0.17
{'init_mu': 1690, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Gibraltar. National League Loss down by: 0.87
{'init_mu': 1380, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 20, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Italy. Serie A Loss down by: 1.43
{'init_mu': 1680, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 100, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
France. Ligue 1 Loss down by: 0.47
{'init_mu': 1680, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 100, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Malta. Challenge League Loss down by: 1.09
{'init_mu': 1360, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': -80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -122}
Cyprus. Division 2 Loss down by: 0.17
{'init_mu': 1360, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': -40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -82}
Malta. Premier League Loss down by: 0.1
{'init_mu': 1440, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Italy. Serie B Loss down by: 0.42
{'init_mu': 1480, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': -40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -82}
Netherlands. Eerste Divisie Loss down by: 0.65
{'init_mu': 1480, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 0, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Netherlands. Eredivisie Loss down by: 0.5
{'init_mu': 1640, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Belgium. Jupiler Pro League Loss down by: 0.15
{'init_mu': 1640, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Turkey. 1. Lig Loss down by: 0.18
{'init_mu': 1440, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': -40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -2}
Belgium. 1B Pro League Loss down by: 0.04
{'init_mu': 1580, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': -80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -122}
Turkey. Super Lig Loss down by: 0.01
{'init_mu': 1580, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Germany. Bundesliga Loss down by: 3.22
{'init_mu': 1640, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Albania. Superliga Loss down by: 0.37
{'init_mu': 1440, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Andorra. Primera Divisió Loss down by: 0.44
{'init_mu': 1420, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 0, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Germany. 2. Bundesliga Loss down by: 0.62
{'init_mu': 1560, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 0, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -42}
Austria. Bundesliga Loss down by: 0.31
{'init_mu': 1640, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Switzerland. Super League Loss down by: 0.86
{'init_mu': 1640, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
San Marino. Campionato Sammarinese Loss down by: 0.73
{'init_mu': 1360, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 0, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Poland. Ekstraklasa Loss down by: 0.77
{'init_mu': 1640, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Croatia. 1. HNL Loss down by: 0.35
{'init_mu': 1640, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Romania. Liga 1 Loss down by: 0.13
{'init_mu': 1520, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 0, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Czech Republic. 1. Liga Loss down by: 0.23
{'init_mu': 1640, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Albania. First Division Loss down by: 0.92
{'init_mu': 1360, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': -80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -122}
Hungary. OTP Bank Liga Loss down by: 0.43
{'init_mu': 1640, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Georgia. Crystalbet Erovnuli Liga Loss down by: 0.08
{'init_mu': 1440, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 0, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Serbia. Super Liga Loss down by: 0.45
{'init_mu': 1520, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
North Macedonia. 1. MFL Loss down by: 0.09
{'init_mu': 1640, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Bulgaria. Parva liga Loss down by: 0.11
{'init_mu': 1500, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Hungary. Merkantil Bank Liga Loss down by: 1.03
{'init_mu': 1360, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': -80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -42}
Luxembourg. National Division Loss down by: 0.28
{'init_mu': 1360, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 0, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Austria. 2. Liga Loss down by: 0.01
{'init_mu': 1480, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': -40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -2}
Slovakia. Fortuna liga Loss down by: 0.01
{'init_mu': 1640, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Denmark. Superliga Loss down by: 0.25
{'init_mu': 1640, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
Croatia. 2. HNL Loss down by: 0.42
{'init_mu': 1360, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': -40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -42}
Bulgaria. Vtora liga Loss down by: 1.34
{'init_mu': 1360, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': -40, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -122}
Slovenia. Prva liga Loss down by: 0.48
{'init_mu': 1580, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': 80, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': 0}
North Macedonia. 2. MFL Loss down by: 2.36
{'init_mu': 1400, 'init_rd': 140, 'update_rd': 34, 'lift_update_mu': -60, 'home_advantage': 28, 'pandemic_home_advantage': 19, 'new_team_update_mu': -102}

# Ratings

In [12]:
glicko = GlickoSoccer()
# league_params = joblib.load('data/league_params.pkl')
league_params = glicko._league_params_initialization(matches)
ratings = glicko.rate_teams(matches, league_params)
ratings = glicko.ratings_to_df(ratings, matches)
leagues_ratings = glicko.league_ratings(ratings, number_top_teams=10)
first_leagues = set(matches.loc[matches['tournament_type'] == 1, 'tournament'])
leagues_ratings = leagues_ratings.loc[leagues_ratings['league'].isin(first_leagues)]
leagues_ratings.head(60)

     #                                             league  rating
0    1                            England. Premier League  1820.3
1    2                                     Italy. Serie A  1776.2
2    3                                      Spain. LaLiga  1774.9
3    4                                Germany. Bundesliga  1744.1
4    5                            Netherlands. Eredivisie  1736.4
5    6                                    France. Ligue 1  1733.2
6    7                             Cyprus. First Division  1727.8
7    8                                Norway. Eliteserien  1710.4
8    9                            Czech Republic. 1. Liga  1707.7
9   10                            Portugal. Primeira Liga  1706.4
10  11                             Belarus. Vysshaya Liga  1700.1
11  12                                Sweden. Allsvenskan  1697.9
12  13                                 Serbia. Super Liga  1696.4
13  14                 Northern Ireland. NIFL Premiership  1691.2
14  15                               Bulgaria. Parva liga  1691.0
15  16                                 Denmark. Superliga  1685.9
16  17                              Malta. Premier League  1685.1
17  18                             Finland. Veikkausliiga  1676.8
18  19             Bosnia And Herzegovina. Premier League  1672.4
19  20                              Scotland. Premiership  1672.1
20  21                            North Macedonia. 1. MFL  1671.4
21  22                                  Turkey. Super Lig  1668.9
22  23                                Israel. Ligat ha'Al  1664.7
23  24                                Iceland. Pepsideild  1664.2
24  25                               Greece. Super League  1662.7
25  26                          Ireland. Premier Division  1662.0
26  27                                  Lithuania. A Lyga  1661.4
27  28                            Ukraine. Premier League  1660.9
28  29                                Poland. Ekstraklasa  1659.8
29  30                  Georgia. Crystalbet Erovnuli Liga  1656.3
30  31                      Luxembourg. National Division  1654.9
31  32                                Austria. Bundesliga  1654.4
32  33                             Russia. Premier League  1653.1
33  34                             Hungary. OTP Bank Liga  1651.4
34  35                        Belgium. Jupiler Pro League  1647.2
35  36                                Slovenia. Prva liga  1647.0
36  37                                    Romania. Liga 1  1645.0
37  38                                 Albania. Superliga  1642.8
38  39                                    Croatia. 1. HNL  1641.8
39  40                         Kazakhstan. Premier League  1641.3
40  41                          Switzerland. Super League  1640.6
41  42                      Faroe Islands. Premier League  1634.0
42  43                             Slovakia. Fortuna liga  1630.4
43  44                              Estonia. Meistriliiga  1626.1
44  45                           Latvia. Optibet Virsliga  1622.4
45  46                           Andorra. Primera Divisió  1617.3
46  47                                  Kosovo. Superliga  1615.6
47  48                 San Marino. Campionato Sammarinese  1604.5
48  49                               Wales. Cymru Premier  1601.4
49  50                   Montenegro. Prva Crnogorska Liga  1597.8
50  51                         Moldova. Divizia Nationala  1593.0
51  52                         Azerbaijan. Premier League  1563.9
52  53  Armenia. VBET Premier League - Championship Group  1549.9
53  54                         Gibraltar. National League  1548.3

In [6]:
leagues_ratings.head(60)

     #                                             league  rating
0    1                            England. Premier League  1834.3
1    2                                     Italy. Serie A  1799.0
2    3                                      Spain. LaLiga  1793.3
3    4                                Germany. Bundesliga  1756.7
4    5                             Cyprus. First Division  1742.2
5    6                                    France. Ligue 1  1737.8
6    7                            Netherlands. Eredivisie  1730.5
7    8                            Portugal. Primeira Liga  1722.2
8    9                             Belarus. Vysshaya Liga  1709.9
9   10                                 Serbia. Super Liga  1709.4
10  11                            Czech Republic. 1. Liga  1709.1
11  12                                Sweden. Allsvenskan  1708.7
12  13                                Norway. Eliteserien  1707.8
13  14                                  Lithuania. A Lyga  1700.1
14  15                 Northern Ireland. NIFL Premiership  1700.0
15  16                               Bulgaria. Parva liga  1698.5
16  17                                 Denmark. Superliga  1687.5
17  18                            North Macedonia. 1. MFL  1684.6
18  19                              Malta. Premier League  1679.0
19  20                                  Turkey. Super Lig  1677.7
20  21             Bosnia And Herzegovina. Premier League  1677.3
21  22                             Finland. Veikkausliiga  1672.6
22  23                             Russia. Premier League  1669.7
23  24                            Ukraine. Premier League  1668.8
24  25                              Scotland. Premiership  1666.2
25  26                                Austria. Bundesliga  1665.4
26  27                                Israel. Ligat ha'Al  1661.0
27  28                                    Croatia. 1. HNL  1659.8
28  29                             Hungary. OTP Bank Liga  1658.5
29  30                                Iceland. Pepsideild  1657.4
30  31                                Poland. Ekstraklasa  1656.4
31  32                        Belgium. Jupiler Pro League  1651.7
32  33                                 Albania. Superliga  1651.7
33  34                                    Romania. Liga 1  1647.7
34  35                         Kazakhstan. Premier League  1644.8
35  36                          Switzerland. Super League  1642.2
36  37                  Georgia. Crystalbet Erovnuli Liga  1641.9
37  38                               Greece. Super League  1640.8
38  39                                Slovenia. Prva liga  1640.3
39  40                          Ireland. Premier Division  1630.1
40  41                           Latvia. Optibet Virsliga  1630.0
41  42                      Luxembourg. National Division  1629.6
42  43                              Estonia. Meistriliiga  1629.2
43  44                           Uzbekistan. Super League  1626.6
44  45                             Slovakia. Fortuna liga  1618.2
45  46                      Faroe Islands. Premier League  1603.9
46  47                               Wales. Cymru Premier  1580.5
47  48                                  Kosovo. Superliga  1568.5
48  49                           Andorra. Primera Divisió  1562.8
49  50                   Montenegro. Prva Crnogorska Liga  1561.5
51  52                         Moldova. Divizia Nationala  1555.5
52  53                         Azerbaijan. Premier League  1550.6
56  57                 San Marino. Campionato Sammarinese  1537.6
63  64  Armenia. VBET Premier League - Championship Group  1524.7
64  65                         Gibraltar. National League  1524.6

In [13]:
ratings.head(50)

     #                team  rating                                  league
0    1           Liverpool  2005.1                 England. Premier League
1    2       Bayern Munich  1996.6                     Germany. Bundesliga
2    3       Crvena zvezda  1986.9                      Serbia. Super Liga
3    4     Manchester City  1979.8                 England. Premier League
4    5            FC Porto  1958.9                 Portugal. Primeira Liga
5    6         Real Madrid  1954.9                           Spain. LaLiga
6    7                Ajax  1949.3                 Netherlands. Eredivisie
7    8             Rangers  1947.9                   Scotland. Premiership
8    9    Sheriff Tiraspol  1923.7              Moldova. Divizia Nationala
9   10               Inter  1916.5                          Italy. Serie A
10  11            Partizan  1916.2                      Serbia. Super Liga
11  12            Klaksvik  1914.4           Faroe Islands. Premier League
12  13         HB Torshavn  1905.7           Faroe Islands. Premier League
13  14            Sporting  1904.1                 Portugal. Primeira Liga
14  15                 PSV  1899.3                 Netherlands. Eredivisie
15  16             Chelsea  1892.7                 England. Premier League
16  17            Paris SG  1889.7                         France. Ligue 1
17  18       Slavia Prague  1886.3                 Czech Republic. 1. Liga
18  19                 RFS  1885.3                Latvia. Optibet Virsliga
19  20          Bodo/Glimt  1884.4                     Norway. Eliteserien
20  21                 TNS  1883.9                    Wales. Cymru Premier
21  22                BATE  1883.6                  Belarus. Vysshaya Liga
22  23           Europa FC  1875.4              Gibraltar. National League
23  24            Juventus  1874.9                          Italy. Serie A
24  25               Flora  1871.3                   Estonia. Meistriliiga
25  26            AC Milan  1871.0                          Italy. Serie A
26  27             Levadia  1868.8                   Estonia. Meistriliiga
27  28    Shakhtar Donetsk  1868.8                 Ukraine. Premier League
28  29            Salzburg  1865.2                     Austria. Bundesliga
29  30           D. Zagreb  1865.1                         Croatia. 1. HNL
30  31              Celtic  1862.1                   Scotland. Premiership
31  32    Benfica Portugal  1859.2                 Portugal. Primeira Liga
32  33  Olympiacos Piraeus  1855.7                    Greece. Super League
33  34   Slovan Bratislava  1852.5                  Slovakia. Fortuna liga
34  35            Zalgiris  1844.1                       Lithuania. A Lyga
35  36       Maccabi Haifa  1842.6                     Israel. Ligat ha'Al
36  37           Barcelona  1838.3                           Spain. LaLiga
37  38            Linfield  1836.8      Northern Ireland. NIFL Premiership
38  39          Hibernians  1835.3                   Malta. Premier League
39  40         Atl. Madrid  1832.7                           Spain. LaLiga
40  41       FC Copenhagen  1831.6                      Denmark. Superliga
41  42            Zrinjski  1831.1  Bosnia And Herzegovina. Premier League
42  43          Ludogorets  1827.9                    Bulgaria. Parva liga
43  44         Midtjylland  1827.8                      Denmark. Superliga
44  45             Sevilla  1827.7                           Spain. LaLiga
45  46             Apollon  1826.9                  Cyprus. First Division
46  47           Tottenham  1823.0                 England. Premier League
47  48           Feyenoord  1821.9                 Netherlands. Eredivisie
48  49      Manchester Utd  1819.2                 England. Premier League
49  50           Dyn. Kyiv  1818.9                 Ukraine. Premier League

# Skellam

In [9]:
# from euro_soccer.draw_model import DrawLightGBM

DrawLightGBM().cross_val_score()

OSError: dlopen(/Users/andreyshelopugin/opt/anaconda3/lib/python3.8/site-packages/lightgbm/lib_lightgbm.so, 6): Library not loaded: /usr/local/opt/libomp/lib/libomp.dylib
  Referenced from: /Users/andreyshelopugin/opt/anaconda3/lib/python3.8/site-packages/lightgbm/lib_lightgbm.so
  Reason: image not found

In [5]:
# import joblib
train = joblib.load('data/train.pkl')
train.head()

,team,score,index,is_home,avg_scoring_10,avg_scoring_20,is_pandemic,mean_score_10,median_score_10,mean_score_20,mean_score_10_against,median_score_10_against,mean_score_20_against
129670,Den Bosch,2,69077,0,2.500000,2.5,1,1.800000,1.5,1.5,1.700000,1.0,2.0
4917,Dubnica,5,67608,1,1.444444,NaN,0,0.777778,1.0,1.0,3.222222,3.0,3.0
17732,Rapid Vienna,2,27656,1,2.400000,2.4,0,1.100000,0.5,1.0,0.600000,0.0,1.0
132205,Chambly,2,51277,0,1.200000,1.2,1,1.100000,0.5,1.0,0.800000,0.5,1.0
115031,Tobol,0,10064,0,1.300000,1.3,0,1.200000,1.0,1.0,0.300000,0.0,0.0

In [6]:
# train.loc[train['team'] == 'Manchester City']

,team,score,index,is_home,avg_scoring_10,avg_scoring_20,is_pandemic,mean_score_10,median_score_10,mean_score_20,mean_score_10_against,median_score_10_against,mean_score_20_against
99593,Manchester City,2,8107,0,2.8,2.8,0,1.700000,1.5,2.0,1.000000,1.0,0.5
97208,Manchester City,1,75728,0,2.7,2.7,0,1.900000,2.0,2.0,1.300000,1.5,1.0
101412,Manchester City,3,8079,0,2.6,2.6,0,1.700000,1.5,2.0,0.800000,0.5,0.5
22198,Manchester City,1,8075,1,1.5,1.5,0,3.300000,3.0,3.0,0.900000,0.5,1.0
112351,Manchester City,3,89736,0,1.7,1.7,0,2.500000,2.5,2.0,0.700000,0.5,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
139024,Manchester City,4,82632,0,1.4,1.4,1,1.100000,1.0,1.0,0.400000,0.0,0.5
51661,Manchester City,2,82643,1,3.1,3.1,1,2.900000,2.5,2.0,0.600000,0.0,1.0
89840,Manchester City,3,80587,0,2.6,2.6,0,1.666667,1.0,1.0,1.777778,1.0,2.0
16367,Manchester City,3,8163,1,2.2,2.2,0,3.200000,3.0,3.0,0.900000,1.0,1.0
59587,Manchester City,2,11435,1,1.1,1.1,1,2.300000,2.0,2.0,0.900000,0.5,0.0

In [7]:
# train['avg_scoring_10'].mean()

1.364716147298895