In [120]:
%reload_ext autoreload
%autoreload 2

import pandas as pd

pd.options.display.max_columns, pd.options.display.max_rows = 500, 200
pd.options.display.float_format = '{:.1f}'.format
import joblib
import warnings
warnings.filterwarnings('ignore')

from soccer.preprocessing import DataPreprocessor
from soccer.glicko_soccer import GlickoSoccer

Preprocessing

In [68]:
raw_matches = pd.read_csv('data/matches.csv')
raw_matches.head()

,date,home_team,away_team,home_score,away_score,notes,country,league,season,file_path,tournament_type
0,05.11.2011,Kalju,Paide,1,2,NaN,Estonia,Meistriliiga,2011,first/Estonia_Meistriliiga_2011.csv,first
1,05.11.2011,Levadia,Kuressaare,4,0,NaN,Estonia,Meistriliiga,2011,first/Estonia_Meistriliiga_2011.csv,first
2,05.11.2011,Narva,Sillamae,2,3,NaN,Estonia,Meistriliiga,2011,first/Estonia_Meistriliiga_2011.csv,first
3,05.11.2011,Tammeka,Lasnamae,9,0,NaN,Estonia,Meistriliiga,2011,first/Estonia_Meistriliiga_2011.csv,first
4,05.11.2011,Viljandi,Flora,2,4,NaN,Estonia,Meistriliiga,2011,first/Estonia_Meistriliiga_2011.csv,first

In [69]:
raw_matches.shape

(470298, 11)

Fit parameters

In [90]:
matches = DataPreprocessor(is_actual_draw_predictions=False, max_season=2023, is_train=False).preprocessing()

In [91]:
# it works a lot of time
# league_params = GlickoSoccer().fit_params(matches, number_iterations=100, is_params_initialization=True)
# league_params

Ratings

In [125]:
league_params = joblib.load('data/league_params.pkl')
club_ratings = GlickoSoccer().rate_teams(matches, league_params)
club_ratings = GlickoSoccer().ratings_to_df(club_ratings, matches)
europe_leagues_ratings, south_america_leagues_ratings = GlickoSoccer().league_ratings(club_ratings, number_top_teams=5)

club_ratings.head(50)

     #                 team  rating              league  is_europe
0    1      Manchester City  2237.7      England. First       True
1    2        Bayern Munich  2175.0      Germany. First       True
2    3             FC Porto  2135.9     Portugal. First       True
3    4          Real Madrid  2125.4        Spain. First       True
4    5               Napoli  2121.7        Italy. First       True
5    6                Inter  2116.4        Italy. First       True
6    7            Liverpool  2111.2      England. First       True
7    8              Arsenal  2101.2      England. First       True
8    9       Manchester Utd  2099.5      England. First       True
9   10           RB Leipzig  2096.4      Germany. First       True
10  11     Benfica Portugal  2093.1     Portugal. First       True
11  12            Barcelona  2078.6        Spain. First       True
12  13             Salzburg  2078.2      Austria. First       True
13  14             Dortmund  2077.2      Germany. First       True
14  15             Paris SG  2068.2       France. First       True
15  16             AC Milan  2047.5        Italy. First       True
16  17            Newcastle  2044.3      England. First       True
17  18          Atl. Madrid  2039.6        Spain. First       True
18  19             Juventus  2033.9        Italy. First       True
19  20        Crvena zvezda  2023.9       Serbia. First       True
20  21                  PSV  2022.3  Netherlands. First       True
21  22               Celtic  2015.7     Scotland. First       True
22  23          Sporting CP  2015.4     Portugal. First       True
23  24            Feyenoord  2014.1  Netherlands. First       True
24  25     Rangers Scotland  2010.9     Scotland. First       True
25  26                 Lens  2006.4       France. First       True
26  27                Zenit  2006.2       Russia. First       True
27  28     Shakhtar Donetsk  2004.7      Ukraine. First       True
28  29           Young Boys  2003.6  Switzerland. First       True
29  30         Union Berlin  2001.2      Germany. First       True
30  31                Lazio  2000.3        Italy. First       True
31  32             Freiburg  1999.8      Germany. First       True
32  33        Real Sociedad  1995.0        Spain. First       True
33  34            Tottenham  1991.5      England. First       True
34  35                 Ajax  1991.2  Netherlands. First       True
35  36             Brighton  1990.1      England. First       True
36  37              AS Roma  1988.2        Italy. First       True
37  38                Rakow  1982.7       Poland. First       True
38  39           Fenerbahce  1978.0       Turkey. First       True
39  40              Chelsea  1976.6      England. First       True
40  41             Atalanta  1973.5        Italy. First       True
41  42     Bayer Leverkusen  1973.0      Germany. First       True
42  43  Eintracht Frankfurt  1968.0      Germany. First       True
43  44                Braga  1967.6     Portugal. First       True
44  45          Aston Villa  1967.5      England. First       True
45  46      Royale Union SG  1963.4      Belgium. First       True
46  47            Marseille  1962.1       France. First       True
47  48            Palmeiras  1961.0       Brazil. First      False
48  49            Brentford  1958.7      England. First       True
49  50           Villarreal  1958.4        Spain. First       True

In [126]:
europe_leagues_ratings

     #                          league  rating
0    1                  England. First  2118.8
1    2                  Germany. First  2069.9
2    3                    Italy. First  2064.0
3    4                    Spain. First  2039.4
4    5                 Portugal. First  2000.7
5    6                   France. First  1981.4
6    7              Netherlands. First  1965.8
7    8                  Belgium. First  1923.3
8    9                   Turkey. First  1911.9
9   10                   Russia. First  1906.5
10  11                  Austria. First  1899.3
11  12              Switzerland. First  1893.4
12  13                   Poland. First  1890.7
13  14                   Sweden. First  1883.9
14  15                  Ukraine. First  1878.1
15  16                   Greece. First  1868.8
16  17                  Denmark. First  1852.3
17  18           Czech Republic. First  1832.4
18  19                 Scotland. First  1826.2
19  20                   Israel. First  1817.1
20  21                   Serbia. First  1816.6
21  22                 Bulgaria. First  1809.7
22  23                   Norway. First  1808.1
23  24                  Romania. First  1807.6
24  25                  Croatia. First  1807.2
25  26                   Cyprus. First  1795.4
26  27                 Germany. Second  1785.3
27  28                   Latvia. First  1767.9
28  29                   Italy. Second  1767.6
29  30                 England. Second  1766.0
30  31                   Spain. Second  1763.3
31  32                 Slovenia. First  1749.0
32  33                 Slovakia. First  1748.5
33  34                  Belarus. First  1735.6
34  35                  Armenia. First  1732.3
35  36                  Hungary. First  1727.1
36  37                  Georgia. First  1726.1
37  38   Bosnia And Herzegovina. First  1724.8
38  39                  Finland. First  1721.9
39  40                  France. Second  1721.9
40  41         Northern Ireland. First  1706.5
41  42               Azerbaijan. First  1704.0
42  43             Switzerland. Second  1700.7
43  44                  Ireland. First  1698.4
44  45                  Turkey. Second  1689.6
45  46                  Russia. Second  1684.8
46  47               Kazakhstan. First  1683.2
47  48                  Poland. Second  1671.4
48  49                  Iceland. First  1669.8
49  50                Lithuania. First  1661.7
50  51          North Macedonia. First  1651.8
51  52                Portugal. Second  1646.9
52  53                   Kosovo. First  1642.1
53  54               Luxembourg. First  1640.6
54  55                  Estonia. First  1637.8
55  56                  Moldova. First  1636.9
56  57                    Malta. First  1622.7
57  58                 Austria. Second  1619.6
58  59                 Denmark. Second  1616.9
59  60            Faroe Islands. First  1615.1
60  61                  Albania. First  1614.2
61  62                Gibraltar. First  1612.3
62  63                  Greece. Second  1611.2
63  64             Netherlands. Second  1602.1
64  65                  Sweden. Second  1587.9
65  66                 Belgium. Second  1581.6
66  67                 Romania. Second  1577.1
67  68               Montenegro. First  1562.7
68  69                 Hungary. Second  1557.3
69  70                    Wales. First  1556.8
70  71                  Israel. Second  1553.7
71  72                Scotland. Second  1532.3
72  73                 Croatia. Second  1525.0
73  74                 Ukraine. Second  1519.7
74  75                Slovenia. Second  1517.7
75  76                  Norway. Second  1516.7
76  77                Slovakia. Second  1490.9
77  78              Kazakhstan. Second  1477.3
78  79                  Serbia. Second  1473.3
79  80         North Macedonia. Second  1466.5
80  81                Bulgaria. Second  1460.6
81  82                 Georgia. Second  1456.8
82  83  Bosnia And Herzegovina. Second  1456.6
83  84          Czech Republic. Second  1453.2
84  85                  Andorra. First  1443.9
85  86                 Armenia. Second  1443.3
86  87                  Cyprus. Second  1436.2
87  88                 Finland. Second  1430.4
88  89                 Ireland. Second  1427.2
89  90               San Marino. First  1412.1
90  91                 Belarus. Second  1409.0
91  92                 Albania. Second  1374.1
92  93                  Latvia. Second  1365.0
93  94                 Iceland. Second  1362.8
94  95                   Malta. Second  1327.4
95  96               Lithuania. Second  1316.7
96  97                 Estonia. Second  1304.2
97  98        Northern Ireland. Second  1276.8

In [127]:
south_america_leagues_ratings

     #             league  rating
0    1      Brazil. First  1868.4
1    2   Argentina. First  1779.9
2    3    Paraguay. First  1743.8
3    4     Ecuador. First  1720.2
4    5     Brazil. Second  1676.0
5    6     Uruguay. First  1673.1
6    7    Colombia. First  1665.6
7    8       Chile. First  1605.5
8    9  Argentina. Second  1604.4
9   10        Peru. First  1592.5
10  11   Venezuela. First  1557.8
11  12     Bolivia. First  1556.2

Compare Models

In [98]:
from soccer.compare_models import compare_models

predictions = compare_models(start_season=2021)
predictions.head()

[LightGBM] [Warning] lambda_l1 is set=1.26258, reg_alpha=0.0 will be ignored. Current value: lambda_l1=1.26258
[LightGBM] [Warning] bagging_freq is set=8, subsample_freq=0 will be ignored. Current value: bagging_freq=8
[LightGBM] [Warning] lambda_l2 is set=9.50238, reg_lambda=0.0 will be ignored. Current value: lambda_l2=9.50238
[LightGBM] [Warning] bagging_fraction is set=0.844, subsample=1.0 will be ignored. Current value: bagging_fraction=0.844
[LightGBM] [Warning] min_data_in_leaf is set=20, min_child_samples=20 will be ignored. Current value: min_data_in_leaf=20
[LightGBM] [Warning] feature_fraction is set=0.45, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.45

               model   loss
0           Catboost 0.5931
1           LightGBM 0.5896
2  Modified Glicko-2 0.5832
3  Original Glicko-2 0.5949