In [1]:
%reload_ext autoreload
%autoreload 2

import pandas as pd

pd.options.display.max_columns, pd.options.display.max_rows = 500, 200
pd.options.display.float_format = '{:.3f}'.format
import joblib
import warnings
warnings.filterwarnings('ignore')

from soccer.preprocessing import DataPreprocessor
from soccer.glicko_soccer import GlickoSoccer

Preprocessing

In [2]:
raw_matches = pd.read_csv('data/matches.csv')
raw_matches.head()

,date,home_team,away_team,home_score,away_score,notes,country,league,season,tournament_type
0,05.11.2011,Kalju,Paide,1,2,NaN,Estonia,Meistriliiga,2011,first
1,05.11.2011,Levadia,Kuressaare,4,0,NaN,Estonia,Meistriliiga,2011,first
2,05.11.2011,Narva,Sillamae,2,3,NaN,Estonia,Meistriliiga,2011,first
3,05.11.2011,Tammeka,Lasnamae,9,0,NaN,Estonia,Meistriliiga,2011,first
4,05.11.2011,Viljandi,Flora,2,4,NaN,Estonia,Meistriliiga,2011,first

In [3]:
matches = DataPreprocessor(is_actual_draw_predictions=True).preprocessing(raw_matches)
matches.tail(5)

,match_id,date,home_team,away_team,home_score,away_score,country,league,season,tournament_type,tournament,outcome,is_pandemic,draw_probability
370292,274719,2022-06-05,Jedinstvo Bihac,Gradina Srebrenik,1,0,Bosnia And Herzegovina,Prva Liga - FBiH,2021,2,Bosnia And Herzegovina. Second,H,0,0.235
370297,294572,2022-06-11,Girona,Tenerife,0,0,Spain,LaLiga2 - Promotion - Play Offs,2021,2,Spain. Second,D,0,0.279
370298,108308,2022-06-11,Veria,Lamia,1,2,Greece,Super League - Relegation,2021,1,Greece. First,A,0,0.329
370299,108307,2022-06-18,Lamia,Veria,1,1,Greece,Super League - Relegation,2021,1,Greece. First,D,0,0.281
370300,294571,2022-06-19,Tenerife,Girona,1,3,Spain,LaLiga2 - Promotion - Play Offs,2021,2,Spain. Second,A,0,0.305

Fit parameters

In [ ]:
matches = DataPreprocessor(is_actual_draw_predictions=True, max_season=2019).preprocessing()

league_params = GlickoSoccer().fit_params(matches, number_iterations=100, is_params_initialization=False)
league_params

Ratings

In [4]:
league_params = joblib.load('data/league_params.pkl')
club_ratings = GlickoSoccer().rate_teams(matches, league_params)
club_ratings = GlickoSoccer().ratings_to_df(club_ratings, matches)
europe_leagues_ratings, south_america_leagues_ratings = GlickoSoccer().league_ratings(club_ratings, number_top_teams=5)
club_ratings.head(30)

     #              team   rating              league  is_europe
0    1         Liverpool 2324.768      England. First       True
1    2   Manchester City 2322.166      England. First       True
2    3       Real Madrid 2286.032        Spain. First       True
3    4     Bayern Munich 2255.672      Germany. First       True
4    5             Inter 2225.255        Italy. First       True
5    6           Chelsea 2217.639      England. First       True
6    7       Atl. Madrid 2170.242        Spain. First       True
7    8          FC Porto 2169.666     Portugal. First       True
8    9         Barcelona 2165.708        Spain. First       True
9   10          AC Milan 2159.974        Italy. First       True
10  11          Paris SG 2156.949       France. First       True
11  12          Salzburg 2146.032      Austria. First       True
12  13           Sevilla 2143.938        Spain. First       True
13  14           Arsenal 2130.739      England. First       True
14  15          Juventus 2127.970        Italy. First       True
15  16              Ajax 2125.818  Netherlands. First       True
16  17        RB Leipzig 2119.216      Germany. First       True
17  18         Tottenham 2117.767      England. First       True
18  19  Shakhtar Donetsk 2115.570      Ukraine. First       True
19  20          Dortmund 2115.501      Germany. First       True
20  21        Villarreal 2103.033        Spain. First       True
21  22             Betis 2100.456        Spain. First       True
22  23            Napoli 2100.350        Italy. First       True
23  24    Manchester Utd 2097.561      England. First       True
24  25  Bayer Leverkusen 2083.531      Germany. First       True
25  26     Crvena zvezda 2082.697       Serbia. First       True
26  27     Real Sociedad 2081.286        Spain. First       True
27  28          Sporting 2074.722     Portugal. First       True
28  29           AS Roma 2059.089        Italy. First       True
29  30          West Ham 2055.538      England. First       True

In [5]:
south_america_leagues_ratings

     #                          league   rating
0    1                  England. First 2222.616
1    2                    Spain. First 2173.791
2    3                    Italy. First 2134.528
3    4                  Germany. First 2125.740
4    5                   France. First 2047.183
5    6                 Portugal. First 2003.650
6    7              Netherlands. First 1969.510
7    8                   Spain. Second 1927.749
8    9                  Austria. First 1927.117
9   10                  Ukraine. First 1917.165
10  11                  Belgium. First 1914.028
11  12                   Russia. First 1905.776
12  13           Czech Republic. First 1901.452
13  14                   Turkey. First 1893.882
14  15              Switzerland. First 1887.366
15  16                  Croatia. First 1876.848
16  17                   Greece. First 1873.275
17  18                 Germany. Second 1866.441
18  19                 England. Second 1859.505
19  20                  Romania. First 1852.216
20  21                  Denmark. First 1849.088
21  22                   Sweden. First 1833.672
22  23                 Scotland. First 1829.716
23  24                   Norway. First 1821.930
24  25                  France. Second 1818.227
25  26                   Israel. First 1816.744
26  27                   Serbia. First 1813.854
27  28                   Poland. First 1812.889
28  29                   Italy. Second 1800.770
29  30                 Bulgaria. First 1772.607
30  31                   Cyprus. First 1759.655
31  32                 Slovakia. First 1756.121
32  33                 Slovenia. First 1746.002
33  34                  Hungary. First 1741.473
34  35                  Belarus. First 1739.103
35  36               Azerbaijan. First 1725.759
36  37                  Finland. First 1719.000
37  38                  Russia. Second 1702.949
38  39                   Latvia. First 1699.503
39  40                  Turkey. Second 1695.809
40  41               Kazakhstan. First 1691.944
41  42   Bosnia And Herzegovina. First 1688.265
42  43             Switzerland. Second 1676.025
43  44                  Moldova. First 1672.510
44  45                Portugal. Second 1669.405
45  46                Lithuania. First 1664.247
46  47          North Macedonia. First 1659.310
47  48                 Romania. Second 1654.681
48  49                 Austria. Second 1653.639
49  50                  Georgia. First 1648.461
50  51                  Greece. Second 1646.431
51  52                  Iceland. First 1636.271
52  53                  Armenia. First 1635.108
53  54         Northern Ireland. First 1624.850
54  55                 Ukraine. Second 1617.979
55  56                  Ireland. First 1616.102
56  57                    Malta. First 1613.249
57  58               Luxembourg. First 1613.229
58  59                  Albania. First 1611.201
59  60                 Denmark. Second 1609.712
60  61            Faroe Islands. First 1604.062
61  62                  Poland. Second 1598.007
62  63                 Belgium. Second 1595.532
63  64             Netherlands. Second 1584.961
64  65                  Estonia. First 1578.151
65  66                 Hungary. Second 1567.602
66  67               Montenegro. First 1558.675
67  68                 Croatia. Second 1552.703
68  69                Scotland. Second 1547.217
69  70                Slovenia. Second 1541.084
70  71                  Sweden. Second 1540.137
71  72                Slovakia. Second 1539.095
72  73                  Israel. Second 1529.750
73  74                  Norway. Second 1528.627
74  75                Gibraltar. First 1522.389
75  76          Czech Republic. Second 1519.231
76  77                    Wales. First 1512.382
77  78                  Serbia. Second 1511.256
78  79                   Kosovo. First 1496.772
79  80                Bulgaria. Second 1474.996
80  81                  Cyprus. Second 1462.624
81  82                 Finland. Second 1454.558
82  83         North Macedonia. Second 1449.941
83  84                 Georgia. Second 1445.610
84  85                  Andorra. First 1424.232
85  86                 Belarus. Second 1424.007
86  87  Bosnia And Herzegovina. Second 1402.676
87  88                 Iceland. Second 1395.369
88  89              Kazakhstan. Second 1363.406
89  90                 Albania. Second 1359.337
90  91               Lithuania. Second 1352.946
91  92               San Marino. First 1344.648
92  93                   Malta. Second 1336.287
93  94                 Ireland. Second 1332.864
94  95                 Armenia. Second 1214.842
95  96                 Estonia. Second 1201.817
96  97                  Latvia. Second 1198.270
97  98        Northern Ireland. Second 1185.948

In [6]:
south_america_leagues_ratings

     #             league   rating
0    1      Brazil. First 1881.520
1    2   Argentina. First 1822.127
2    3     Ecuador. First 1739.322
3    4    Colombia. First 1731.711
4    5    Paraguay. First 1720.733
5    6     Uruguay. First 1684.345
6    7     Brazil. Second 1670.574
7    8  Argentina. Second 1658.215
8    9     Bolivia. First 1651.507
9   10       Chile. First 1639.772
10  11        Peru. First 1579.510
11  12   Venezuela. First 1563.410

In [6]:
from soccer.outcomes_features import TrainCreator
from soccer.outcomes_catboost import OutcomesCatBoost

train, validation, test = TrainCreator().train_validation_test(matches)

NameError: name 'CatBoost' is not defined

In [ ]:
OutcomesCatBoost().cross_val_score()

In [ ]:
experiments = OutcomesCatBoost().optuna_optimization(1000)

In [ ]:
experiments.head(200)

In [ ]:
OutcomesCatBoost().save_model()

In [ ]:
predictions = OutcomesCatBoost().predict()

In [ ]:
predictions = predictions.merge(matches, on=['match_id'])
predictions.head(20)

Compare Models

In [9]:
from soccer.compare_predictions import compare_predictions

predictions = compare_predictions(2020)
predictions.head()

Catboost Loss: 0.5894359213389553
Glicko Loss: 0.584571185497871

,match_id,season,date,home_team,away_team,outcome,home_win_cb,draw_cb,away_win_cb,home_win_glicko,draw_glicko,away_win_glicko
0,7403,2020,2020-01-14,Nacional Uruguay,Wanderers,H,0.620,0.216,0.163,0.723,0.166,0.111
1,205262,2020,2020-01-16,Danubio,Cerro Largo,A,0.309,0.279,0.412,0.334,0.284,0.382
2,205261,2020,2020-01-16,CA Cerro,Penarol,D,0.301,0.295,0.404,0.156,0.221,0.623
3,205259,2020,2020-01-17,Fenix,River Plate Uruguay,D,0.357,0.272,0.371,0.341,0.283,0.376
4,205260,2020,2020-01-17,Progreso,Montevideo City,D,0.494,0.262,0.243,0.573,0.237,0.189

In [7]:
from soccer.compare_predictions import compare_predictions

predictions = compare_predictions(start_season=2020)
predictions.head()

Catboost Loss: 0.5894359213389553
Glicko-2 Loss: 0.584571185497871
Original Glicko-2 Loss: 0.5933047650134288

,match_id,season,date,home_team,away_team,outcome,home_win_cb,draw_cb,away_win_cb,home_win_glicko,draw_glicko,away_win_glicko,home_win_original_glicko,draw_original_glicko,away_win_original_glicko
0,7403,2020,2020-01-14,Nacional Uruguay,Wanderers,H,0.620,0.216,0.163,0.723,0.166,0.111,0.629,0.212,0.158
1,205262,2020,2020-01-16,Danubio,Cerro Largo,A,0.309,0.279,0.412,0.334,0.284,0.382,0.296,0.272,0.431
2,205261,2020,2020-01-16,CA Cerro,Penarol,D,0.301,0.295,0.404,0.156,0.221,0.623,0.156,0.210,0.634
3,205259,2020,2020-01-17,Fenix,River Plate Uruguay,D,0.357,0.272,0.371,0.341,0.283,0.376,0.296,0.272,0.431
4,205260,2020,2020-01-17,Progreso,Montevideo City,D,0.494,0.262,0.243,0.573,0.237,0.189,0.493,0.260,0.247