In [43]:
%reload_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd

pd.options.display.max_columns, pd.options.display.max_rows = 500, 200
pd.options.display.float_format = '{:.1f}'.format
import warnings

warnings.filterwarnings('ignore')
import joblib

from euro_soccer.preprocessing import DataPreprocessor
from euro_soccer.glicko_soccer import GlickoSoccer

In [44]:
matches = pd.read_csv('matches.csv')
matches.head()

,date,home_team,away_team,home_score,away_score,notes,country,league,season,file_path,tournament_type
0,05.11.2011,Kalju,Paide,1,2,NaN,Estonia,Meistriliiga,2011,first/Estonia_Meistriliiga_2011.csv,first
1,05.11.2011,Levadia,Kuressaare,4,0,NaN,Estonia,Meistriliiga,2011,first/Estonia_Meistriliiga_2011.csv,first
2,05.11.2011,Narva,Sillamae,2,3,NaN,Estonia,Meistriliiga,2011,first/Estonia_Meistriliiga_2011.csv,first
3,05.11.2011,Tammeka,Lasnamae,9,0,NaN,Estonia,Meistriliiga,2011,first/Estonia_Meistriliiga_2011.csv,first
4,05.11.2011,Viljandi,Flora,2,4,NaN,Estonia,Meistriliiga,2011,first/Estonia_Meistriliiga_2011.csv,first

In [56]:
matches = pd.read_csv('matches.csv')
matches = DataPreprocessor(is_actual_draw_predictions=False).preprocessing(matches)
matches.tail(5)

,index,date,home_team,away_team,country,league,season,tournament_type,tournament,outcome,is_pandemic,draw_probability
361296,59939,2022-08-31,Tuzla City,Siroki Brijeg,Bosnia And Herzegovina,Premier League,2022,1,Bosnia And Herzegovina. First,H,0,0.2
361295,59938,2022-08-31,Posusje,Zeljeznicar,Bosnia And Herzegovina,Premier League,2022,1,Bosnia And Herzegovina. First,A,0,0.2
361309,189174,2022-08-31,Plzen,Slovacko,Czech Republic,1. Liga,2022,1,Czech Republic. First,H,0,0.2
361301,189172,2022-08-31,Mlada Boleslav,Hradec Kralove,Czech Republic,1. Liga,2022,1,Czech Republic. First,A,0,0.2
361310,59937,2022-08-31,Igman K.,Sloboda,Bosnia And Herzegovina,Premier League,2022,1,Bosnia And Herzegovina. First,D,0,0.2

In [57]:
matches.loc[matches['home_team'].str.contains('Maccabi Haifa')].sort_values(['season'], ascending=False)

,index,date,home_team,away_team,country,league,season,tournament_type,tournament,outcome,is_pandemic,draw_probability
357497,183188,2022-05-21,Maccabi Haifa,Netanya,Israel,Ligat ha'Al - Championship Group,2021,1,Israel. First,H,0,0.2
349244,138891,2022-01-03,Maccabi Haifa,Maccabi Tel Aviv,Israel,Ligat ha'Al,2021,1,Israel. First,H,0,0.3
341754,138992,2021-09-11,Maccabi Haifa,Sakhnin,Israel,Ligat ha'Al,2021,1,Israel. First,H,0,0.2
343437,138975,2021-09-26,Maccabi Haifa,Maccabi Petah Tikva,Israel,Ligat ha'Al,2021,1,Israel. First,H,0,0.3
343940,138968,2021-10-03,Maccabi Haifa,H. Beer Sheva,Israel,Ligat ha'Al,2021,1,Israel. First,A,0,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...
28104,199535,2011-04-23,Maccabi Haifa,Netanya,Israel,Ligat ha'Al - Championship Group,2010,1,Israel. First,A,0,0.2
28780,199531,2011-04-30,Maccabi Haifa,Hapoel Tel Aviv,Israel,Ligat ha'Al - Championship Group,2010,1,Israel. First,H,0,0.2
30930,199525,2011-05-16,Maccabi Haifa,Kiryat Shmona,Israel,Ligat ha'Al - Championship Group,2010,1,Israel. First,H,0,0.2
31781,374749,2011-05-25,Maccabi Haifa,Hapoel Tel Aviv,Israel,State Cup,2010,4,Israel. Cups,A,0,0.2
5039,406288,2010-07-29,Maccabi Haifa,Din. Minsk,Europa League,Europa League - Qualification,2010,3,Europa League. Cups,H,0,0.2

In [46]:
matches.shape

(328894, 13)

In [30]:
count_matches, count_seasons, count_tournaments, uefa_teams_without_national, duplicated_teams = DataPreprocessor().test_data(matches)

In [31]:
count_matches

       country  tournament_type  season  number_matches
57   Argentina                2    2021              11
540     Greece                2    2020              15

In [32]:
count_seasons

           country  tournament_type  number_seasons
20      Azerbaijan                2               2
80   Faroe Islands                2               2
103         Greece                2               2

In [33]:
count_tournaments

Empty DataFrame
Columns: [country, number_tournaments, tournament_type]
Index: []

In [34]:
uefa_teams_without_national

[]

In [35]:
duplicated_teams

Empty DataFrame
Columns: [home_team, country]
Index: []

In [ ]:
matches.info()

In [ ]:
# matches['draw_probability'].mean()

In [ ]:
# # matches.loc[(matches['home_team'].str.contains('B')) & (matches['away_team'].str.contains('AS Roma'))]

In [ ]:
# matches.info()

In [ ]:
# matches['season'].value_counts()

In [ ]:
# matches.loc[matches['tournament'].str.contains('Con')]

# Fit Params

In [23]:
glicko = GlickoSoccer()  #
league_params = glicko.fit_params(matches, 1, is_params_initialization=True)

Current Loss: 44728.34473780513
Russia. First 1500
Estonia. First 1500
Norway. Second 1500
Armenia. Second 1500
Slovakia. First 1500
Northern Ireland. Second 1500
Hungary. First 1500
Belgium. First 1500
Germany. First 1500
San Marino. First 1500
Ukraine. Second 1500
Scotland. First 1500
Bulgaria. First 1500
Serbia. First 1500
Argentina. Second 1500
Georgia. Second 1500
Azerbaijan. First 1500
Romania. Second 1500
Iceland. Second 1500
Norway. First 1500
Uruguay. First 1500
Wales. First 1500
Faroe Islands. First 1500
Italy. First 1500
Croatia. First 1500
Lithuania. Second 1500
Slovenia. Second 1500
Switzerland. First 1500
Brazil. Second 1500
England. First 1500
Scotland. Second 1500
Albania. First 1500
Kosovo. First 1500
Ireland. First 1500
Latvia. First 1500
Argentina. First 1500
Bosnia And Herzegovina. First 1500
Belgium. Second 1500
Brazil. First 1500
Finland. Second 1500
Ecuador. First 1500
Netherlands. Second 1500
Peru. First 1500
Malta. First 1500
Venezuela. First 1500
Albania. Second 1500
Faroe Islands. Second 1500
Belarus. Second 1500
Armenia. First 1500
Switzerland. Second 1500
Finland. First 1500
Sweden. First 1500
Ukraine. First 1500
Estonia. Second 1500
Turkey. Second 1500
Netherlands. First 1500
Chile. First 1500
Portugal. First 1500
Austria. Second 1500
Romania. First 1500
Luxembourg. First 1500
Israel. Second 1500

KeyboardInterrupt:

# Ratings

In [54]:
glicko = GlickoSoccer()
league_params = joblib.load('data/league_params.pkl')
ratings = glicko.rate_teams(matches, league_params)
ratings = glicko.ratings_to_df(ratings, matches)
leagues_ratings = glicko.league_ratings(ratings, number_top_teams=10)
leagues_ratings

       #                          league  rating
0      1                  England. First  1889.1
1      2                    Italy. First  1867.3
2      3                    Spain. First  1849.4
3      4                  Germany. First  1827.0
4      5                   Cyprus. First  1801.3
5      6                 Portugal. First  1778.8
6      7                   France. First  1778.7
7      8           Czech Republic. First  1777.4
8      9         Northern Ireland. First  1775.1
9     10                 Bulgaria. First  1773.3
10    11                   Russia. First  1769.4
11    12                   Norway. First  1768.8
12    13                   Sweden. First  1763.3
13    14                   Brazil. First  1756.7
14    15              Netherlands. First  1755.9
15    16                  Denmark. First  1752.5
16    17                   Serbia. First  1752.4
17    18                  Belgium. First  1748.0
18    19                  Belarus. First  1747.6
19    20                  Albania. First  1747.1
20    21                   Turkey. First  1740.3
21    22                  Croatia. First  1740.1
22    23          North Macedonia. First  1734.7
23    24   Bosnia And Herzegovina. First  1727.2
24    25                  Finland. First  1720.7
25    26                  Estonia. First  1718.5
26    27               Luxembourg. First  1718.0
27    28                  Austria. First  1713.4
28    29                 Scotland. First  1711.0
29    30                    Malta. First  1706.0
30    31                  Romania. First  1703.9
31    32                  Iceland. First  1697.0
32    33                   Poland. First  1685.6
33    34                Lithuania. First  1684.8
34    35                 Slovakia. First  1679.5
35    36                 Slovenia. First  1679.1
36    37              Switzerland. First  1677.7
37    38                  Hungary. First  1675.9
38    39                  Georgia. First  1672.5
39    40                   Greece. First  1671.4
40    41                   Latvia. First  1670.9
41    42                  Ireland. First  1656.0
42    43               Kazakhstan. First  1652.3
43    44                   Israel. First  1650.6
44    45                  Uruguay. First  1644.3
45    46                 Paraguay. First  1643.9
46    47                  Ecuador. First  1641.2
47    48            Faroe Islands. First  1638.1
48    49                 Colombia. First  1636.1
49    50                   Kosovo. First  1629.9
50    51                     Peru. First  1629.2
51    52                  Andorra. First  1612.3
52    53                  Moldova. First  1610.3
53    54               Montenegro. First  1608.0
54    55                    Wales. First  1607.9
55    56                  Armenia. First  1596.7
56    57                    Chile. First  1591.3
57    58                  Bolivia. First  1584.5
58    59               Azerbaijan. First  1581.0
59    60                Venezuela. First  1577.9
60    61                Argentina. First  1559.5
61    62                 Germany. Second  1547.1
62    63                Gibraltar. First  1539.7
63    64                 England. Second  1539.0
64    65               San Marino. First  1537.3
65    66                  Ukraine. First  1535.3
66    67  Bosnia And Herzegovina. Second  1530.7
67    68                  Brazil. Second  1523.3
68    69                   Spain. Second  1515.0
69    70              Azerbaijan. Second  1511.5
70    71                  France. Second  1510.4
71    72                  Turkey. Second  1509.8
72    73                 Denmark. Second  1509.3
73    74                  Poland. Second  1509.3
74    75                Bulgaria. Second  1508.0
75    76                 Albania. Second  1503.3
76    77                  Russia. Second  1500.8
77    78                  Sweden. Second  1499.8
78    79                 Hungary. Second  1499.3
79    80                   Malta. Second  1498.5
80    81                   Italy. Second  1497.7
81    82                 Croatia. Second  1492.7
82    83         North Macedonia. Second  1490.0
83    84                  Israel. Second  1486.8
84    85                  Serbia. Second  1483.9
85    86                  Norway. Second  1483.9
86    87                 Finland. Second  1483.7
87    88          Czech Republic. Second  1483.2
88    89                Slovenia. Second  1482.7
89    90                 Estonia. Second  1478.0
90    91                 Romania. Second  1476.8
91    92                 Georgia. Second  1475.6
92    93                Scotland. Second  1469.0
93    94                  Greece. Second  1466.2
94    95                 Austria. Second  1464.2
95    96             Switzerland. Second  1456.3
96    97                Portugal. Second  1454.0
97    98                 Belgium. Second  1453.9
98    99                  Cyprus. Second  1446.6
99   100                Slovakia. Second  1446.1
100  101               Argentina. Second  1443.1
101  102                 Ukraine. Second  1443.0
102  103                 Belarus. Second  1432.7
103  104                 Iceland. Second  1426.4
104  105        Northern Ireland. Second  1418.4
105  106                 Armenia. Second  1404.5
106  107             Netherlands. Second  1400.1
107  108               Lithuania. Second  1398.0
108  109           Faroe Islands. Second  1396.0
109  110              Kazakhstan. Second  1383.8
110  111                  Latvia. Second  1379.0
111  112                 Ireland. Second  1309.2

In [ ]:
pd.concat([leagues_ratings[0:25].reset_index(drop=True),
           leagues_ratings[25:50].reset_index(drop=True)], axis=1)

In [ ]:
pd.concat([leagues_ratings[50:74].reset_index(drop=True),
           leagues_ratings[74:].reset_index(drop=True)], axis=1)

In [55]:
ratings

         #             team  rating             league
0        1    Crvena zvezda  2149.7      Serbia. First
1        2  Manchester City  2118.9     England. First
2        3            Flora  2115.8     Estonia. First
3        4         FC Porto  2111.1    Portugal. First
4        5          Levadia  2060.6     Estonia. First
...    ...              ...     ...                ...
2781  2782   Saldus/Brocenu  1090.9                NaN
2782  2783      Aktobe Zhas  1078.1                NaN
2783  2784           Cosmos  1059.4  San Marino. First
2784  2785            Balvu  1052.5                NaN
2785  2786         Plavinas  1043.8                NaN

[2786 rows x 4 columns]

In [ ]:
leagues_ratings.to_csv('20.csv', index=False)

In [ ]:
ratings.head(50)

# Skellam

In [ ]:
# from euro_soccer.draw_model import DrawLightGBM

DrawLightGBM().cross_val_score()

In [ ]:
# import joblib
train = joblib.load('data/train.pkl')
train.head()

In [ ]:
# train.loc[train['team'] == 'Manchester City']

In [ ]:
# train['avg_scoring_10'].mean()